.job-item {
    width: 350px; 
    border: 1px solid #500000;
    padding: 4%;
    margin-bottom: 3%;
    border-radius: 10px 10px 10px 10px;
    text-align: left;
    cursor: pointer;
}
.job-item h3 {
    padding-left: 10px;
}
.location{
    display: flex;
}
.job-item a{
    color: white;
    padding: 10px;
    background-color: #500000;
    margin-bottom: -4px;
    margin-left: 240px;
    border-radius: 10px 10px 10px;
}
.job-body{
    margin-left: 10px
}
.squares p{
    color: black;
    padding: 5px;
    width: 25%;
    background-color: #e1e1e1;
    border-radius: 5px 5px 5px 5px;
}
.squares{
    display: flex;
    gap: 10px;
    text-align: center;
}
