@media (max-width: 680px) {
    .title{
        font-size: 1.25rem !important;
    }
    .filters-container h2{
        font-size:  1rem !important;
    }
    .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
        font-size: 0.75rem !important;
    }
    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
        font-size: 0.75rem !important;
    }
    .filters-container{
        padding: 10px 10px !important;
    }
}
@media(max-width: 512px){
    .pages button{
        font-size: 0.75rem !important;
    }
    .apply-filter-button{
        font-size: 0.75rem !important;
    }
}
.selected-page {
    background-color: white !important;
    color: #500005 !important;
    border-color: rgba(255, 255, 255, 0.514) !important;
}
.pages button {
    background-color: #500005;
    color: white;
    margin: 2px;
    border-color: #500005;
    border-radius: 3px 3px 3px 3px;
}
/* Fixed filters styles */
.filters {
    width: 30%;
    /* Ensure that the filters cover the entire viewport height */
    height: 100vh;
    padding: 2% 2% 10px; /* Adjust padding as needed */
}

.filters-container{
    border: 1px solid #500000;
    padding: 10px 30px;
    justify-content: center;
    border-radius: 10px;
}
.title{
    font-size: 1.75rem;
    border-bottom: 1px solid #000;
}
.filters-container h2{
    font-size:  1.25rem;
}
.subtitle{
    font-size: large;
}
.apply-filter-button{
    margin-top: 10px;
    height: 35px;
    width: 100px;
    color:white;
    background-color: #500000;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Otomanopee One';
}