
.header {
  align-items: center;
  background-color: #500000;
  color: white;
  padding: 10px;

}
a {
  text-decoration: none; /* Remove underline */
  color: white; /* Change the color to your desired color */
}
.header div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-family: 'Otomanopee One';
}
.search-bar .MuiInputBase-input,
.search-bar .MuiSvgIcon-root {
  color: #500000 !important;
}
.search-bar .MuiInputBase-input{
  font-family: 'Otomanopee One';
  font-size: small;
  width: 250px;
  height: 10px;
}
/* Set the background of the input to white and the border to transparent */
.search-bar .MuiOutlinedInput-root {
  background-color: white !important;
  border: none !important;
  border-radius:   30px 30px 30px 30px; /* Optionally remove border-radius if needed */
  margin-right: 5%;
}

/* Set the border color to transparent */
.search-bar .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
}
.header a{
  margin-left: 5%;
  font-size: 24px;
}
.body{
  display: flex;
}
.search-icon{
  cursor: pointer;
}